.SectionMore-Description {
    width: 750px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
  }

  .SectionMore-Description p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
  }

  .SectionMore-Button {
    background-color: #c59613;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: white;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
  }
  