.header-main {
    background-color: white;
    width: 100%;
    height: 80px;
}

.header-main__inner {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    margin: auto;
    align-items: center;
    font-size: large;
}

.header-main__inner img {
    height: 700x;
    width: 120px;
}

.header-main__inner a {
    text-decoration: none;
}

.header-main__inner a:hover {
    color: rgb(255, 0, 0);
}

.header-inner-main ul {
    float: right;
    margin-top: 2.5%;
    padding: 0;
}

.header-main__inner li {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
