.SectionEvents {
    display: block;
    max-width: 300px;
    margin: 100px auto;
    padding: 100px;
    &.InfoBox{
      margin-bottom: 40px;
    }
  }


  @media only screen and (min-width: 765px) {
    .SectionEvents {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      max-width: 1024px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .SectionEvents {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .SectionEvents {
      gap: 60px;
      padding: 0;
    }
  }