/* Section LAST YEAR */

.LastYear {
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding-top: 70px;
    padding-bottom: 70px;
    &-Grouping{
      display: flex;
      margin: 20px;
    }
    &-Text{
      margin: auto;
      width: 40%;
    }
    &-Image{
      margin-top: auto;
      margin-bottom: auto;
      width: 50%;
    }
    & img{
      width: 100%;
      height: 350px;
    }
  }
  
  
  