/* Section LAST YEAR */

.LastYear {
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  
  .LastYear-Grouping {
    display: flex;
    margin: 20px;
  }
  
  .LastYear-Text {
    margin: auto;
    width: 40%;
  }
  
  .LastYear-Image {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
  }
  
  .LastYear img {
    width: 100%;
    height: 350px;
  }
  